@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --backgroundPrimary: rgb(108, 36, 202);

  --latoFont: 'Lato', sans-serif;
  --textColor: rgb(54, 53, 53);

  --inputFontSize: 18px;
}

.App {
  text-align: center;
  font-family: var(--latoFont);
  
}

input {
  border: none;
}

textarea:focus, input:focus{
  outline: none;
}

.TextInput-main {
  display: grid;
}

.TextInput-title {
  background: var(--backgroundPrimary);
  color: white;
  padding-bottom: 3px;
}

.TextInput-input {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: var(--inputFontSize);
  text-align: center;
  color: var(--textColor);
}

.TextInput-counter {
  text-align: right;
  font-size: 13px;
  color: black;
}